.cep-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5em;
}

.cep-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.cep-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
