<div class="grid-container">
  <h1 class="mat-h1">About</h1>
  This is my epic project!
  <button mat-button routerLink="/asd" color="primary">Broken Link</button>
</div>

<hr />
<div class="grid-container">
  <h1 class="mat-h1 cep-title">Check your zip code</h1>

  <div class="cep-container">
    <input type="text" [(ngModel)]="cep" (ngModelChange)="formatarCep()" maxlength="8" />
    <button mat-button color="primary" (click)="consultar()">
      Consultar CEP
    </button>
    <div class="cep-result">
      <div *ngIf="dadosCep">
        <h5>
          Logradouro: <strong>{{ dadosCep.logradouro }}</strong>
        </h5>
        <h5>
          Bairro: <strong>{{ dadosCep.bairro }}</strong>
        </h5>
        <h5>
          Cidade: <strong>{{ dadosCep.localidade }}</strong>
        </h5>
        <h5>
          Estado: <strong>{{ dadosCep.uf }}</strong>
        </h5>
      </div>
    </div>
  </div>
</div>
